
<div  class="col-md-6 offset-md-3 col-sm-12" style="margin-top:30px;margin-bottom:30px;height:600px;overflow:auto;overflow-x:hidden;
    overflow-y:visible;" >

<ng-container *ngFor="let message of messages | async">
  <div  class="message" [ngClass]="{ 'from': message.sentBy === 'bot',
                                    'to':   message.sentBy === 'user' }">
    {{ message.content }}
  </div>
</ng-container>

</div>
<div class="col-md-6 offset-md-3 col-sm-12"  >
<div style="position:fixed;bottom:0;">
<label for="nameField"> Message</label>
<!-- <div class="row">
<div class="col-md-10 col-sm-10">
<input [(ngModel)]="formValue" (keyup.enter)="sendMessage()" type="text">
</div>
<div class="col-md-2 col-sm-10">
<button (click)="sendMessage()">Send</button>
</div>
</div> -->
<div class="input-group mb-3">
  <input type="text" [(ngModel)]="formValue" (keyup.enter)="sendMessage()" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
  <div class="input-group-append">
    <button class=" btn input-group-text" id="basic-addon2" (click)=" sendMessage()" > send </button>
  </div>
</div>
</div>
</div>
<!-- style="width:50%;height:50%;margin-top:100px;" -->

